* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: #181825;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#memory,
#custom-power,
#bluetooth,
#wireplumber,
#network,
#clock,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: #1e1e2e;
  color: #181825;
}

#custom-power {
  margin-right: 6px;
}

#memory {
  background-color: #fab387;
  font-size: 14px;
}

#wireplumber {
  background-color: #f9e2af;
  font-size: 16px;
}

#network {
  background-color: #94e2d5;
  padding-right: 17px;
  font-size: 16px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: #cba6f7;
}

#custom-power {
  background-color: #f2cdcd;
  font-weight: bold;
  font-size: 16px;
}
#bluetooth {
  background-color: #cdd6f4;
  font-size: 16px;
}
tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}
