window {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

/* search entry */
entry {
  box-shadow: 0 0 16px 10px rgba(98, 226, 232, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
}

button,
image {
  background-color: rgba (145, 85, 205, 0.5);
  background: none;
  border: none;
}

button:hover {
  background: linear-gradient(
    165deg,
    rgba(8, 24, 46, 0.7),
    rgba(86, 168, 231, 0.7),
    rgba(229, 63, 135, 0.7)
  );
  border-style: none;
  border-width: 1px;
  border-color: rgba(8, 24, 46, 0.7);
}

button:focus {
  background-image: linear-gradient(
    165deg,
    rgba(8, 24, 46, 0.7),
    rgba(86, 168, 231, 0.7),
    rgba(229, 63, 135, 0.7)
  );
  border-style: none;
  border-width: 1px;
  border-color: rgba(8, 24, 46, 0.7);
}

/* in case you wanted to give category buttons a different look */
#category-button {
  margin: 0 10px 0 10px;
}

#pinned-box {
  padding-bottom: 5px;
  border-bottom: 1px dotted gray;
}

#files-box {
  padding: 5px;
  border: 1px dotted gray;
  border-radius: 15px;
}
