* {
  font-family: CaskaydiaCove Nerd Font;
}

window {
  border-radius: 10px;
  color: #bb9af7;
  position: relative;
  background-image: linear-gradient(
    180deg,
    rgba(95, 251, 241, 0.8),
    rgba(134, 168, 231, 0.8),
    rgba(229, 63, 135, 0.8)
  );
  padding: 1px;
}

#input {
  margin-bottom: 15px;
  padding: 3px;
  background-image: linear-gradient(
    135deg,
    rgba(8, 24, 46, 0.6),
    rgba(86, 168, 231, 0.6),
    rgba(229, 63, 135, 0.6)
  );
  border-radius: 8px;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
}

#outer-box {
  margin: 3px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
}

#text {
  padding: 5px;
}

#entry:selected {
  color: black;
  background-color: rgba(95, 251, 241, 0.6);
  border: 2px;
  border-style: solid;
  border-color: rgba(134, 168, 231, 0.8);
  border-radius: 10px;
  outline: none;
}
